*{
    padding: 0px;
    margin: 0px;
    border: 1px solid gray;
    box-sizing: border-box;
    font-size: larger;
}
.marcas_carro{
    display: flex;
    width: 100%;
    border: 2px solid navy;
    padding: 4px;
    border-radius: 3px; 
}
.marca{
    border: 1.5px lightcyan groove;
    background-color: lightgoldenrodyellow;
    padding: 4px;
    border-radius: 3px;
    display: flex;
    width: 200px;
}
